DJANGO_SECRET_KEY=""
JWT_SECRET_KEY=""

#Path to the Google Cloud credentials file
GOOGLE_APPLICATION_CREDENTIALS=""

# YOU.com API keys
YOU_API_KEY_RAG=""
YOU_API_KEY_SEARCH=""

# Web scrapping config (only if you need new data extraction)
CMF_COOKIESESSION1=""
CMF_PHPSESSID=""

# [DEPRECATED] Since we are no longer using S3, but instead the CMF as the data source
# Only necessary to test the legacy data extraction
S3_BUCKET_NAME=""
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""